server:
  port: 30501
  servlet:
    encoding:
      charset: utf-8
      force-response: true
spring:
  application:
    name: FILE-BLOG
  config:
    import: "optional:configserver:"
  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 500MB
  jackson:
    serialization:
      FAIL_ON_EMPTY_BEANS: false
    deserialization:
      FAIL_ON_UNKNOWN_PROPERTIES: false
      ACCEPT_SINGLE_VALUE_AS_ARRAY: true

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always