server:
  port: 30202
  servlet:
    encoding:
      charset: utf-8
      force-response: true
  ssl:
    enabled: false
spring:
  application:
    name: CLOUD-GATE
  config:
    import: "optional:configserver:"
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
      #          以上是自动从eureka获取服务列表  如果不配置映射规则 可以直接通过服务名访问
      globalcors:
        cors-configurations:
          '[/**]':
            allowedHeaders: "*"
            allowedOrigins: "*"
            allowedMethods: "*"

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always