server:
  port: 30205
spring:
  application:
    name: CLOUD-MAIL
#  config:
#    import: "optional:configserver:"
  mail:
    host: smtp.126.com
    username: fzcode@126.com
    password: TKOMBJXTWWYJQTMS
    protocol: smtp
    default-encoding: UTF-8
    properties:
      mail:
        transport:
          protocol: smtp
        smtp:
          auth: true
          starttls:
            enable: true
            required: true

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always