server:
  port: 30206
  servlet:
    encoding:
      charset: utf-8
      force-response: true
spring:
  application:
    name: SERVICE-NOTE
#  config:
#    import: "optional:configserver:"
management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always