spring:
  datasource:
    username: fzcode
    password: 123456
    url: jdbc:mysql://127.0.0.1:3306/fzcode?useUnicode=true&characterEncoding=UTF-8&serverTimezone=GMT%2b8
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: com.fzcode.servicenote.config.Mysql
  zipkin:
    enabled: false
  elasticsearch:
    rest:
      uris: http://127.0.0.1:9200
  data:
    elasticsearch:
      client:
        reactive:
          endpoints: 127.0.0.1:9200
eureka:
  client:
    service-url:
      defaultZone: http://127.0.0.1:30200/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true