server:
  port: 30201
  servlet:
    encoding:
      charset: utf-8
      force-response: true
spring:
  application:
    name: CLOUD-CONFIG
  cloud:
    config:
      server:
        git:
          uri: https://gitee.com/fuzhoucode/fzcode-config-center.git
#          strict-host-key-checking: false
          force-pull: true
          clone-on-start: true
          username: fzcode@126.com
          password: fzcode_123
          skipSslValidation: true
          default-label: master
management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always